.row {
  display: flex;
  justify-content: space-around;
  padding: 20px 40px;
}

#search-photo {
 display: flex;
 margin: 0 auto;
 height: 40px;
 width: 400px;
 font-size: 16px;
 margin-top:30px;
 margin-bottom: 20px;
}